<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small>
      <time><%= post.created_at.to_date.strftime('%d %B, %Y') %></time>
      <% if post.category.present? %>
      |
      <%= link_to post.category.name, post.category %>
          <% end %>
      |
      <%= link_to 'Edit', edit_post_path(post) %>
      |
      <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %>
    </small>
  </section>

  <section class="post-summary clearfix">
    <%= image_tag post.image.url(:thumb), class: 'img-thumbnail thumb' if post.image? %>
    <%= post.summary %>
  </section>

  <section class="footer-summary">
    <%= raw post.tags.map(&:name).map{|t| link_to t, tag_path(t), class: 'tag tag-info' }.join(' ') %>
  </section>
</article>