<article class="post">
  <section class="post-head">
    <h1><%= @post.title %></h1>
    <small>
      <time><%= @post.created_at.to_date.strftime('%d %B, %Y') %></time>
      <% if @post.category.present? %>
          |
          <%= link_to @post.category.name, @post.category %>
      <% end %>
      |
      <%= link_to 'Edit', edit_post_path(@post) %>
      |
      <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
    </small>
  </section>

  <section class="post-body">
    <%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>
    <%= @post.body.html_safe %>
  </section>
</article>

<%= render 'disqus' %>