<!DOCTYPE html>
<html>
  <head>
    <title>Blog1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <nav class="navbar  navbar-light bg-light">
    <ul class="nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="<%= posts_path %>">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>
    </ul>
    <%= link_to 'New article', new_post_path, class: 'btn btn-outline-primary pull-xs-right' %>
  </nav>
  </div>

 <div class="container main">
   <div class="row">
     <div class="col-md-12">
       <% flash.each do |name, message| %>
       <div class="alert alert-<%= name %>">
         <%= message %>
       </div>
       <% end %>
     </div>
   </div>

   <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>

    <div class="col-md-3">
      <%= render 'shared/submenu' %>
      <div class="tag_cloud">
      <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
      </div>
    </div>
   </div>
 </div>
  </body>
</html>
